.note
{
    text-shadow: 5px, 5px, 5px, grey;
    color: ghostwhite;
}

.heading
{
    font-size: 23px;
    color: burlywood;
    width: 100%;
    font-weight: bold;
    font-style: italic;
}

body
{
    background-size: cover;
}

#song
{
    color: beige;
    text-shadow: 5px, 5px, 5px, darkolivegreen;
}


canvas
{
    border: 2.5px;
    padding: 5px;
    margin: 2px;
    border-radius: 15px;
}